[Aa]rtifacts/
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Ss]treaming[Aa]ssets/
[Aa]ctual[Ii]mages/
[Ll]og/
[Ll]ogs/
[Aa]ctual[Ii]mages.meta
[Ss]treaming[Aa]ssets.meta
[Oo]ut/
[Uu]serSettings/
gmtk2024/[Aa]rtifacts/
gmtk2024/[Cc]odeCoverage/

# nuget
*/Packages/nuget-packages/InstalledPackages/*

# Non-Distributable assets
/gmtk2024/Assets/External/NonDistributable
!/gmtk2024/Assets/External/NonDistributable/asset.*

gmtk2024/.vscode/
.vs
.vsconfig
.idea
.vscode
omnisharp.json
CSharpProjFolders
TSKDoNotDelete.txt

/gmtk2024/*.csproj
/gmtk2024/*.sln

.DS_Store
*.aspx
*.browser
*.exe
*.ini
*.log
*.map
*.mdb
*.npmrc
*.pyc
*.resS
*.sdf
*.sublime-project
*.sublime-workspace
*.suo
*.userprefs
*.orig
*.orig.metas
*.DotSettings
*.DotSettings.user
*.sln.DotSettings.user
.npmrc
/bin/
/obj/

# source generators
/gmtk2024/Packages/pyr.union/Runtime/SourceGenerators/Source~/SourceGenerators.Union/bin
/gmtk2024/Packages/pyr.union/Runtime/SourceGenerators/Source~/SourceGenerators.Union/obj
